/* Menu.css */

nav {
    background-color: #ffffff; /* Cor de fundo do menu */
    color: #000000; /* Cor do texto do menu */
    padding: 1px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 20px; /* Espaçamento entre os itens do menu */
  }
  
  nav a {
    text-decoration: none;
    color: #000000; /* Cor do link no menu */
    font-weight: bold;
    transition: color 0.3s ease; /* Transição suave de cor ao passar o mouse */
  }
  
  nav a:hover {
    color: #570fc4; /* Cor ao passar o mouse sobre o link */
    cursor: pointer; /* Cursor muda para uma mãozinha */
  }

  .menu-fixo {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #dddddd; /* Cor de fundo do menu fixo */
  color: #000000; /* Cor do texto do menu fixo */
  z-index: 1000; /* Certifique-se de que o menu fixo esteja acima de outros elementos */
}
  
@media screen and (max-width: 768px) {
  nav ul {
      flex-direction:row; /* Mantém os itens em linha */
  }

  nav li {
      margin: 3px 20px; /* Define o espaçamento entre os itens do menu */
  }
}


@media screen and (max-width: 480px) {
  nav ul {
      flex-direction:row; /* Mantém os itens em linha */
  }

  nav li {
      margin: 1px 15px; /* Define o espaçamento entre os itens do menu */
  }
}