.projetos{
    text-align: center;
    padding: 32px;
    background-image: url("/public/image/noise.png");
    width: 96%;
    
}

.projetos h3{
    font-size: 40px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
    color: #2B0955;
}

.projetos .projetinhos{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px){ 
.projetos{
    width: 94%;
}
}


@media screen and (max-width: 480px){ 
    .projetos{
        width: 87%;
    }
    }