.slider{
    width: 60%;
    margin: 0 auto;
}

h4{
    position: relative;
    text-align: center;
    font-size: 25px;
}

.certificados{
    color: #c4c4c4;
    right:100px;
}



.subrinhado{
    width:400px;
    border: 2px solid; /* As 4 bordas sólidas com 25px de espessura */
    border-color: #FBC508;
    position: relative;
    left:720px;
    margin-top: -30px;
}

.pages{
    background-color: #2B0955;
    background-image: url("/public/image/noise.png");
    width: 100%;
    margin: 0 auto; /* Centralize horizontalmente */
    bottom: 39px;
    position: relative;
    height: 880px;
    
}

.slider img{
    height: 650px;
    width: 1130px;
}


@media screen and (max-width: 768px){ 

    h1{
        font-size: 50px;
    }
    .slider{
        width: 90%;
        margin: 0 auto;
    }
    
    h4{
        position: relative;
        text-align: center;
        font-size: 25px;
    }
    
    .certificados{
        color: #c4c4c4;
        right:20px;
    }
    
    
    
    .subrinhado{
        width:400px;
        border: 2px solid; /* As 4 bordas sólidas com 25px de espessura */
        border-color: #FBC508;
        position: relative;
        left:160px;
        margin-top: -30px;
    }
    
    .pages{
        background-color: #2B0955;
        background-image: url("/public/image/noise.png");
        width: 102%;
        margin: 0 auto; /* Centralize horizontalmente */
        bottom: 39px;
        position: relative;
        height: 810px;
        
    }
    
    .slider img{
        height: 600px;
        width: 700px;
    }
}

@media screen and (max-width: 480px){ 

    h1{
        font-size: 50px;
    }
    .slider{
        width: 90%;
        margin: 0 auto;
    }
    
    h4{
        position: relative;
        text-align: center;
        font-size: 25px;
    }
    
    .certificados{
        color: #c4c4c4;
        right:20px;
    }
    
    
    
    .subrinhado{
        width:400px;
        border: 2px solid; /* As 4 bordas sólidas com 25px de espessura */
        border-color: #FBC508;
        position: relative;
        left:60px;
        margin-top: -30px;
    }
    
    .pages{
        background-color: #2B0955;
        background-image: url("/public/image/noise.png");
        width: 100%;
        margin: 0 auto; /* Centralize horizontalmente */
        bottom: 39px;
        position: relative;
        height: 550px;
        
    }
    
    .slider img{
        height: 300px;
        width: 429px;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1460px) {
    .slider{
        width: 78%;
        margin: 0 auto;
    }
    
    h4{
        position: relative;
        text-align: center;
        font-size: 25px;
    }
    
    .certificados{
        color: #c4c4c4;
        right:140px;
    }
    
    
    
    .subrinhado{
        width:400px;
        border: 2px solid; /* As 4 bordas sólidas com 25px de espessura */
        border-color: #FBC508;
        position: relative;
        left:550px;
        margin-top: -30px;
    }
    
    .pages{
        background-color: #2B0955;
        background-image: url("/public/image/noise.png");
        width: 100%;
        margin: 0 auto; /* Centralize horizontalmente */
        bottom: 39px;
        position: relative;
        height: 880px;
        
    }
    
    .slider img{
        height: 650px;
        width: 1130px;
    }
}
@media screen and (min-width: 900px) and (max-width: 1090px) {
    .slider{
        width: 90%;
        margin: 0 auto;
    }
    
    h4{
        position: relative;
        text-align: center;
        font-size: 25px;
    }
    
    .certificados{
        color: #c4c4c4;
        right:140px;
    }
    
    
    
    .subrinhado{
        width:400px;
        border: 2px solid; /* As 4 bordas sólidas com 25px de espessura */
        border-color: #FBC508;
        position: relative;
        left:400px;
        margin-top: -30px;
    }
    
    .pages{
        background-color: #2B0955;
        background-image: url("/public/image/noise.png");
        width: 110%;
        margin: 0 auto; /* Centralize horizontalmente */
        bottom: 39px;
        position: relative;
        height: 880px;
        
    }
    
    .slider img{
        height: 650px;
        width: 1016px;
    }
}
@media screen and (min-width: 300px) and (max-width: 465px) {
    .slider{
        width: 65%;
        margin: 0 auto;
    }
    
    h4{
        position: relative;
        text-align: center;
        font-size: 15px;
    }
    
    .certificados{
        color: #c4c4c4;
        right:10px;
        font-size: 40px;
    }
    
    
    
    .subrinhado{
        width:250px;
        border: 2px solid; /* As 4 bordas sólidas com 25px de espessura */
        border-color: #FBC508;
        position: relative;
        left:105px;
        margin-top: -30px;
    }
    
    .pages{
        background-color: #2B0955;
        background-image: url("/public/image/noise.png");
        width: 107%;
        margin: 0 auto; /* Centralize horizontalmente */
        bottom: 39px;
        position: relative;
        height: 420px;
        
    }
    
    .slider img{
        height: 250px;
        width: 310px;
    }
}